# Our PDFs are all generated
*.pdf

# Emacs files
*~

# macOS
.DS_Store

# Python
.venv
.mypy_cache
__pycache__
*.pyc
*.egg-info

# LaTeX files
book/*/*.tex
book.tex
*.tex
*.aux
*.dvi
*.log
*.out.ps
*.idx
*.ind
*.ilg
latex/Alon*
latex/epigrafica.sty
lgrenc.def


quant_studio_poc/archive.zip
quant_studio_poc/make-ipinyou-data-master.zip
quant_studio_poc/make-ipinyou-data-master/original-data/*
quant_studio_poc/make-ipinyou-data-master/all/*
quant_studio_poc/make-ipinyou-data-master/1458/*
quant_studio_poc/make-ipinyou-data-master/3358/*
quant_studio_poc/make-ipinyou-data-master/3386/*
quant_studio_poc/make-ipinyou-data-master/3427/*
quant_studio_poc/make-ipinyou-data-master/3476/*
quant_studio_poc/make-ipinyou-data-master/2259/*
quant_studio_poc/make-ipinyou-data-master/2821/*
quant_studio_poc/make-ipinyou-data-master/2997/*
quant_studio_poc/make-ipinyou-data-master/2261/*
quant_studio_poc/ipinyou.contest.dataset/*
